body {
    font-family: Arial, sans-serif;
    background: linear-gradient(307deg, rgba(249, 41, 244, 0.5215336134453781) 0%, rgba(0, 212, 255, 0.31425070028011204) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.registration__form {
    margin: 1.5rem auto;
    padding: 1rem;
    border: solid rgb(67, 82, 247) 1px;
    border-radius: 6px;
    max-width: 600px;
    background-color: rgb(254, 254, 254);
    box-shadow: 8px 8px 2px 1px rgba(158, 6, 188, 0.105);
}

.header {
    text-align: center;
    color: #ab97f2;
}

input,
select {
    padding: 0.5rem;
    border: 1px rgb(7, 190, 241) solid;
    border-radius: 6px;
    margin: 0.5rem;
}

.input {
    width: 10rem;
}

.sex,
#checkbox {
    width: 1rem;
}

.submit {
    padding: 0.5rem 0.8rem;
}

span {
    display: block;
}

.error {
    color: rgb(252, 1, 1);
}

.help {
    color: rgb(143, 143, 143);
    margin: 0;
    font-size: 0.8rem;
    border-bottom: 1px dotted rgb(206, 203, 203);
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    display: inline;
}